.SearchResults {
    padding-top: 1rem;
}

.SearchResults-search-wrapper {
    display: flex;
    align-items: center;
}

.SearchResults-logo {
    width: 9rem;
    margin: 1rem;
    cursor: pointer;
}

.SearchResults .Search {
    width: auto;
}

.Search-results-list {
    margin-left: 12rem;
    width: 40rem;
}

.SearchResults-results-item {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 38rem;
    text-align: left;
    margin-bottom: 2rem;
}

.SearchResults-results-item-title {
    font-size: 20px;
    margin: .25rem 0;
    padding: 0;
}

.SearchResults-results-item-title.is-visited a {
    color: #9004fc;
}

.SearchResults-results-item-title a {
    color: #8ab4f8;
    text-decoration: none;
}
.SearchResults-results-item-title:hover a {
    text-decoration: underline;
}

.SearchResults-results-item-url {
    color: #bdc1c6;
    font-size: .8rem;
}

.SearchResults-results-wrapper {
    display: flex;
    justify-content: space-between;
    margin-right: 1rem;
    width: 100%;
    max-width: 76rem;
}

.SearchResults-see-also {
    border: 1px solid #5f6368;
}